@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap");

.navbar-nav .nav-link {
  padding-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  font-family: "Bebas Neue";
  font-size: 1.7rem;
}

.bg-dark {
  background-color: #171717 !important;
}

.nav-link {
  padding: 0;
}

.idioma {
  border-bottom: 0px solid rgba(255, 255, 255, .5);
}

.navbar-brand {
  margin-bottom: -8px;
}

.our-bikes {
  font-family: "Quicksand";
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
}

.img-bici12 {
  height: auto;
  width: 90%;
}

.img-bici13 {
  height: auto;
  width: 85%;
}

.img-bici1 {
  height: auto;
  width: 80%;
}

.img-bici_container {
  text-align: center;
}

.carousel-caption {
  color: black;
}

.why {
  background-color: #171717;
  width: auto;
}

.enduro {
  font-size: 1.25rem;
}

.enduro_text {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .enduro {
    font-size: 1.75rem;
  }

  .enduro_text {
    font-size: 1.25rem;
  }
}

.card {
  background-color: #fff0;
  border: 0px;
  color: white;
  text-align: center;
}

.fa-solid {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}

.why_rent {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
}

.pic_why-title {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: .1rem;
}

.card-body {
  padding: 0;
  margin-bottom: 1rem;
}

.img-fluid {
  max-width: 50%;
}

.container {
  padding: 0;
}