@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap");

.navbar-nav .nav-link {
  padding-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  font-family: "Bebas Neue";
  font-size: 1.7rem;
}

.bg-dark {
  background-color: #171717 !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.mtb-header {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}

.mtb-icon {
  position: absolute;
  top: 2rem;
  width: 20%;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
  padding: 0;
}

.lenguaje {
  width: 2rem;
}

.lenguaje-e {
  margin: 0.5rem 1rem;
  width: 2rem;
}

.idioma {
  border-bottom: 0px solid rgba(255, 255, 255, .5);
}

.navbar-brand {
  margin-bottom: -.5rem;
}

.our-bikes {
  font-family: "Quicksand";
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 10px;
}

.img-bici12 {
  height: auto;
  width: 80%;
}

.img-bici13 {
  height: auto;
  width: 75%;
}

.img-bici1 {
  height: auto;
  width: 70%;
}

.img-bici_container {
  text-align: center;
}

.carousel-caption {
  color: black;
}

.why {
  background-color: #171717;
  width: auto;
}

.enduro {
  font-size: 1.6rem;
}

.enduro_text {
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .enduro {
    font-size: 1.75rem;
  }

  .enduro_text {
    font-size: 1.25rem;
  }

  .carousel-indicators {
    height: 0;
  }

  .why {
    margin-top: 1rem;
  }

  .our-bikes {
    font-size: 1.8rem;
  }
}

.card {
  background-color: #fff0;
  border: 0px;
  color: white;
  text-align: center;
}

.fa-solid {
  font-size: 4.5rem;
  margin-bottom: 0.7rem;
}

.why_rent {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding: 1rem;
  font-size: 1.6rem;
}

.pic_why-title {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: .1rem;
}

.img-fluid {
  max-width: 50%;
}

.container {
  padding: 0;
}

.card-body {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1rem;
  padding: 0;
  margin-bottom: 2rem;
}

.carousel-control-next, .carousel-control-prev {
  margin-bottom: 3rem;
}

.rent {
  font-size: 1.4rem;
}

.btn {
  font-weight: bold;
}